<DOCTYPE html>
  <html>
       <head>
         <title>Search City Temperature</title>
         <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css">
       </head>
       <body>
        <h1>City ?</h1>
        <form method= "POST" action ="/city">
            <div class"form-group">
              <input type="text" name="city">
            </div>
            <input class="btn btn-primary "type="submit" value="submit">
        </form>
      </body>
  </html>
